.container{
    margin-bottom: 100px;
}
.orange_bg{
    background-color: #fceaef;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#FF136F;
}
.buy-botton{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
/** catagories**/
.cat1,.cat2,.cat3{
    padding: 10px 30px;
    border-radius: 10px;
    height: 100%;
}
.cat1{
    background-color:orange;
    
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.catagories h1{
    color: cornsilk;
}
.catagories img{
    width: 100%;
}
/** shoes card**/
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: darkgray;
}
footer{
    text-align: center;
}

